body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: darkslategrey;
}

.topnav a {
  float: left;
  display: block;
  color: darkorange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Berlin Sans FB Demi;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 6px solid mediumspringgreen;
}

.topnav a.active {
  border-bottom: 6px solid mediumspringgreen;
}